.container {
    background-color: #e4edff;
    height: 820px;
    font-family: 'Roboto', sans-serif;
}
.header {

    display: flex;
    justify-content: space-between;
    background-color: azure;
    margin: 20px;
    padding: 10px;
}
.logo-img {
    width: 60px;
    height:35px;
}
.plate {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 20px;
    padding: 20px;
    height: 700px;
    background-color: azure;
    overflow: hidden;

}

/* Загальний css для сарток */
.card-visit {
    position: relative;
    width: 170px;
    margin-right: 20px;
    padding: 10px;
    border: 1px solid black;
    font-size: 16px;
}

.card-visit p {
    padding: 3px;
    border-bottom: 1px solid gray;
}

.card-fio, .card-doctor {
    font-weight: 700;
}

.card-more_info {
    display: none;
}

.card-close-btn {
    position: absolute;
    top: 5px;
    right: 0;
    border: none;
    background-color: transparent;
    margin-bottom: 15px;
}

.card-close-btn:hover, .card-more_info-btn:hover, .card-edit-btn:hover {
    color: orange;
}

.icon-close {
    font-size: 20px;
}

.card-more_info-btn, .card-edit-btn {
    position: relative;
    right: -7px;
    bottom: -7px;
    width: 150px;
    text-align: right;
    border: none;
    background-color: transparent;
}

/* Сss для сарток кардіолога*/
.cardiologist-card {
    background-color: papayawhip;
}

/* Сss для сарток стоматолога*/
.stomatologist-card {
    background-color: lightcyan;
}

/* Сss для сарток терапевта*/
.therapist-card {
    background-color: lavender;
}

.no-items {
    display: none;
    background-color: azure;
    position: relative;
    top:50%;
    left:calc(50% - 84px);
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .selectDoctor {
      width: 150px;
  }
  .cardio, .stomatologist, .therapist {
      display:none;
  }

  input {
      width: 60px;
      margin-top: 5px;
      margin-bottom: 5px;
  }

textarea {
    width: 148px;
    height: 100px
}